html{  margin: 0;}
body{  margin: 0; padding: 0;}
.imagen{
	font-size: 2em;
	text-align: center;
	background: #F4F6F6;
	padding: 5PX;
	border: 1px solid #566573;
}
img{
	width: 300px;
}

table { 
	vertical-align: top;
	width: 100%; border: none;
 	background-color: white; 
 	padding: 2mm;
 	border-collapse:collapse; 
 	border: none; 
}


tr    { vertical-align: top; }
td    { vertical-align: top; }


.midnight-blue{
	background:#2c3e50;
	padding: 4px 4px 4px;
	color:white;
	font-weight:bold;
	font-size:12px;
}